table {
	border: 2px solid black;
}

td:hover {
	background-color: yellow;
	color: black;
}

tr, th {
	background-color: black;
	color: green;
}

tr, td {
	background-color: cadetblue;
	color: white;
}